{% extends 'base.html.twig' %}

{% block title %}Maak Gerecht
{% endblock %}

{% block body %}
	<h2 class="grid-x align-center">Pas menu aan</h2>
	<br>

	<div class="grid-x align-center">
		<div class="cell small-4">
			{{form(gerechtForm)}}
			</div>
		</div>
	{% endblock %}
