
/*Navigation*/
.top-bar, .top-bar .menu { 
  background-color: rgb(54, 53, 53) !important;
  color: white !important; 
}

/*Hero section*/
.hero-section {
  background: url("../images/restaurant_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

/* Gerechten Personeel */
/* Status */

.stats-list {
  list-style-type: none;
  clear: left;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.stats-list .stats-list-positive {
  color: #3adb76;
}

.stats-list .stats-list-negative {
  color: #cc4b37;
}

.stats-list > li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #cacaca;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

.stats-list > li:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.stats-list > li .stats-list-label {
  display: block;
  margin-top: 2px;
  font-size: 0.9em;
  font-weight: normal;
}

.fa-eye:hover { 
  color: rgb(73, 200, 113);
}

/* status boxes*/

.alert-box {
  padding-right: 3.25rem;
  width: 100%;
}

.alert-box.callout {
  color: #2d2a2a;
  font-weight: bold;
}

.alert-box.alert {
  border: 3px solid #cc4b37;
  border-radius: 5px;
  background-color: rgba(204, 75, 55, 0.2);
}

.alert-box.warning {
  border: 3px solid #ffae00;
  border-radius: 5px;
  background-color: rgba(255, 174, 0, 0.2);
}

.alert-box.success {
  border: 3px solid #3adb76;
  border-radius: 5px;
  background-color: rgba(58, 219, 118, 0.2);
}

.alert-box.info {
  border: 3px solid #1779ba;
  border-radius: 5px;
  background-color: rgba(23, 121, 186, 0.2);
}

.alert-box i {
  border: 2px solid #3f3d3d;
  border-radius: 50%;
  padding: .3em .325em;
  margin-right: 0.5rem;
}

.alert-box .close-button {
  color: rgba(254, 254, 254, 0.5);
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  font-weight: bold;
}

/* Gerecht-card */
.gerecht-card { 
  background-color: #393c3f;
  color: white; 
  border-radius: 10px;
}

.basic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 50%;
}

.basic-card > :last-child {
  margin-bottom: 0;
}

.basic-card-image {
  grid-row-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.basic-card-image img {
  width: 100%;
}

.basic-card-content {
  border: 0;
  grid-row-start: 3 / 4;
  margin: 0;
  overflow: scroll;
}

.fa-trash { 
  color: rgb(220, 119, 119);
}

.fa-trash:hover { 
  color: rgb(157, 40, 40);
}

/*Footer section*/

#engadget-footer-sitemap-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    background-color: #2f2e2e;
  }

  #engadget-footer-sitemap-container #engadget-footer-sitemap {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    color: #6489a9;
    padding: 3.75rem 0;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap::before, #engadget-footer-sitemap-container #engadget-footer-sitemap::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap::after {
    clear: both;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap a {
    color: #f4f7f8 !important;
  }

  #engadget-footer-sitemap-container #engadget-footer-sitemap a:hover {
    color: #55c27c !important;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column {
    float: left;
    width: 50%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:nth-of-type(1n) {
    clear: none;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:nth-of-type(2n+1) {
    clear: both;
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:last-child {
    float: left;
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column {
      float: left;
      width: 25%;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:nth-of-type(1n) {
      clear: none;
    }
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:nth-of-type(4n+1) {
      clear: both;
    }
    #engadget-footer-sitemap-container #engadget-footer-sitemap .links > .link-column:last-child {
      float: left;
    }
  }
  
  #engadget-footer-sitemap-container #engadget-footer-sitemap .links .link-column:not(:last-child) {
    border-right: 1px solid #252525;
  }
  
  #engadget-footer-social-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    background-color: #4674a3;
  }
  
  #engadget-footer-social-container #engadget-footer-social {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    color: #f6f1f1;
    padding: 3.75rem 0;
  }
  
  #engadget-footer-social-container #engadget-footer-social::before, #engadget-footer-social-container #engadget-footer-social::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  #engadget-footer-social-container #engadget-footer-social::after {
    clear: both;
  }
  
  #engadget-footer-social-container #engadget-footer-social a {
    color: #e6e6e6 !important;
  }
  
  #engadget-footer-social-container #engadget-footer-social .footer-left {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  #engadget-footer-social-container #engadget-footer-social .footer-left:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left {
      width: 50%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left:last-child:not(:first-child) {
      float: right;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left {
      width: 41.66667%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-social-container #engadget-footer-social .footer-left:last-child:not(:first-child) {
      float: right;
    }
  }
  
  #engadget-footer-social-container #engadget-footer-social .footer-left .input-group-field {
    background: #e2e0e0;
  }
  
  #engadget-footer-social-container #engadget-footer-social .footer-right {
    text-align: right;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  #engadget-footer-social-container #engadget-footer-social .footer-right:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-right {
      width: 50%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-social-container #engadget-footer-social .footer-right:last-child:not(:first-child) {
      float: right;
    }
  }
  
  #engadget-footer-social-container #engadget-footer-social .fa {
    padding: 0 0 0 0.6rem;
  }
  
  #engadget-footer-social-container #engadget-footer-social h2 {
    color: #fefefe;
  }
  
  #engadget-footer-social-container #engadget-footer-social p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  #engadget-footer-contact-details-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    background-color: #3d3b3b;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    color: #f8f8f8;
    padding: 1.25rem 0;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details::before, #engadget-footer-contact-details-container #engadget-footer-contact-details::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details::after {
    clear: both;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details a {
    color: #f3f3f3 !important;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left:last-child:not(:first-child) {
    float: right;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left li {
    display: block;
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
      width: 50%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      text-align: left;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left:last-child:not(:first-child) {
      float: right;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
      width: 66.66667%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left:last-child:not(:first-child) {
      float: right;
    }
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left ul {
      margin-bottom: 0;
    }
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left li {
      display: inline-block;
    }
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-left .fa {
    padding: 0 0.4rem;
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
    font-size: 0.9rem;
  }
  
  @media screen and (max-width: 39.9375em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
      display: none !important;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
      width: 50%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right:last-child:not(:first-child) {
      float: right;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
      width: 33.33333%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      text-align: right;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right:last-child:not(:first-child) {
      float: right;
    }
    #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right ul {
      padding-top: 1.6rem;
    }
  }
  
  #engadget-footer-contact-details-container #engadget-footer-contact-details .footer-right .fa {
    padding: 0 0.4rem;
  }
  