{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="hero-section">
		<div class="hero-section-text">
			<h1>Welkom!</h1>
			<h5>Stel zelf een heerlijk menu samen!</h5>
		</div>
	</div>
{% endblock %}
