{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!
{% endblock %}

{% block body %}
	<div class="grid-x align-center">
		<div class="cell small-4">
			{{form(emailForm)}}
			</div>
		</div>
	{% endblock %}
