{% apply inline_css %}

<style>

	body {
		background-color: #a7d3e8;
	}
	h3 {
		color: #348ceb;
	}
</style>

<h1>Hallo ober,</h1>

<h2>Er is een nieuw verzoek binnengekomen:</h2>

<h3>Tafel:
	{{tafel}}</h3>

<p>
	{{text}}
</p>

{% endapply %}
