{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="grid-x align-center">Registreer account</h2>
	<br>

	<div class="grid-x align-center">
		<div class="cell small-4">
			{{form(registratieForm)}}
			</div>
		</div>
	{% endblock %}
